body{
	background: #baac9f;
}
#board{
	background: #baac9f;
	width: 370px;
	height: 360px;
	margin: auto;
	margin-top: 0em;
}
.place{
	width: 120px;
	height: 120px;
	cursor: pointer;
	border-radius: 10px;
	border: 10px #ad110b solid;
	padding: 10px;
	transition: .1s;
}
.place h1{
	font-size: 80px;
	margin: 0;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.place-free h1{
	background-color: #ad110b;
	/*border-bottom: 1px solid #fff*/
}
.place-occupied h1{
	background-color: #2196f3;
}
.place.place-free h1:hover {
	background-color: #AD310B;
	-webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}
.wrap div{
	display: inline-block;
}
@media (max-width:767px) and (min-width:480px){
	.place h1{
		font-size: 50px;
	}
}
@media (max-width:480px){
	.place h1{
		font-size: 30px;
	}
}
.container.reload{
	display: flex;
}
.container.reload a{
	margin: 1em auto;
	margin-top: 7em;
}
.gap{
	height: 3em;
	width: 100%;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#usedSnackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#usedSnackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}